<a href="/">Home</a> | <a href="{{ url_for('about') }}">About</a> |
<a href="/perfil?nombre=Andre&profesion=matrona&edad=76">Perfil</a> |
<a href="{{ url_for('anuncio') }}">Ingresar Anuncio</a> |
<a href="{{ url_for('anuncios') }}">Anuncios</a> |
<a href="{{ url_for('borrar_anuncios') }}">Borrar anuncios</a>

<br><br>
<h3>ANUNCIOS</h3>

{% if datos %}
<ul>
    {% for item in datos %}
      {% if item['prioridad'] == "alta" %}
          <li style="color: red; font-weight: bold;">{{ item['titulo'] }} - {{ item['contenido'] }} - {{ item['prioridad'] }}</li>
      {% else %}
          <li>{{ item['titulo'] }} - {{ item['contenido'] }} - {{ item['prioridad'] }}</li>
      {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No hay anuncios</p>
{% endif %}
